@model List<CloudTechnologyMinorLab1.ViewModels.DocumentKlant>
@{
    ViewData["Title"] = "Overzicht";
}

<h2>Overzicht klanten</h2>

<div class="container">
    <div class="row">
       
        <table class="table">
            <thead>
                <tr>
                    <th>DocumentId</th>
                    <th>Naam</th>
                    <th>Achternaam</th>
                    <th>Geslacht</th>
                    <th>Leeftijd</th>
                    <th>Postcode</th>
                    <th>Bedrijf</th>                    
                </tr>
            </thead>

            @foreach (CloudTechnologyMinorLab1.ViewModels.DocumentKlant item in Model)
            {
                <tbody>

                    <tr>
                        <td><a asp-action="Producten" asp-route-id="@item.DocumentId">@item.DocumentId</a></td>
                        <td>@item.Klant.Naam</td>
                        <td>@item.Klant.Achternaam</td>
                        <td>@item.Klant.Geslacht</td>
                        <td>@item.Klant.Leeftijd</td>
                        <td>@item.Klant.Postcode</td>
                        <td>@item.Klant.Bedrijf</td>
                        <td><a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a></td>
                        
                        @*@foreach (Product product in item.products)
                    {
                        <td>@product.Naam</td>
                        <td>@product.Storage</td>
                    }*@
                    </tr>
                </tbody>
            }
        </table>          
    </div>  
</div>