@model CloudTechnologyMinorLab1.ViewModels.DocumentKlant
@{
    ViewData["Title"] = "Producten";
}

<h2>Klant: @Model.Klant.Naam @Model.Klant.Achternaam</h2>

<div class=" container">
    <div class="row">

        <p><a asp-action="Create">Create new product</a></p>

        <table class="table">
            <thead>
                <tr>
                    <th>Product naam</th>
                    <th>Storage(GB)</th>
                    <th>Kosten(euro/maand)</th>
                    <th>CPU Cores</th>
                    <th>Disk type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in Model.Klant.products)
                {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.MemoryGB</td>
                    <td>@product.KostenPerMaand</td>
                    <td>@product.CPU</td>
                    <td>@product.DiskType</td>
                    <td>                    
                        <a asp-action="Delete" asp-route-id="@Model.DocumentId" asp-route-productId="@product.ProductId">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <a asp-action="Index">Terug naar overzicht</a>
    </div>
    
</div>